
.clearance_Title_div{
    height: 80px;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Navbar2_mainalignment_div{
    display: flex;
    align-items: center;

}
.clearance_Sub_div{
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
}
.clearance_Sub_div p{
    padding: 0.5rem;
    margin-right: 0.875rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: #828282;
    letter-spacing: 0.02rem;
    cursor: pointer;
}
.clearance_Title_div p{
    margin: 0 2rem 0 0;
    padding-bottom: 0;
    font-family: "Visuelt Pro", sans-serif;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 2.25rem;
    color: #1d3451

}

.product_sidebar_main_div{    

    display: flex;
}
.sidebar_div{
    width: 20%;
    /* height: 800px; */
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}
.product_div{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.Loderimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar_subdiv1_div{

    border-radius: 15px;
    padding: 20px;
    width: 100%;
    /* height: 200px; */
    border: 0px solid red;

    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar_subdiv1_div p{
    font-size: 20px;
    line-height: 0.9375rem;
    color: black;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

@media all and (max-width: 1100px) and (min-width:601px){
    .product_div{
        grid-template-columns: repeat(2,1fr);
    }
    .Navbar2_mainalignment_div {
        width: 60%;
        margin: auto;
    }
    .sidebar_div{
        width: 40%;
    }
}

@media all and (max-width: 601px) and (min-width:100px){
    .product_div{
        grid-template-columns: repeat(1,1fr);
    }
    .Navbar2_mainalignment_div {
        width: 50%;
        margin: auto;
    }
    .sidebar_div{
        width: 50%;
    }
}



