.Shopping_cart_heading p:nth-child(1) {
    letter-spacing: 1.2px;
    color: #17274a;
    border: 0px solid red;
    font: normal normal bold 24px/24px "Visuelt Pro", sans-serif;
    margin: 0;
}

.Shopping_cart_heading p:nth-child(2) {
    font: normal normal normal 16px/24px Visuelt Pro;
    letter-spacing: 0.8px;
    color: #6d7278;
    text-transform: capitalize;
    position: relative;
    top: -1px;
    border: 0px solid rgb(0, 225, 255);
    margin-left: 8px;
}
#cart {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 85%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    border: 1px dotted rgb(141, 141, 141);
    border: 0px solid red;
}
.Shopping_cart_heading {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px;
    border: 0px solid yellow;
}
.Order_summmary_div {
    border: 1px dotted gray;
    padding: 10px;
}
.card_div {
    border: 1px dotted gray;
    width: 75%;
    height :auto;
    padding: 10px;
}
.parent {
    border: 0px solid green;
    display: flex;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    gap: 20px;
}

.Order_summmary_div p:nth-child(1) {
    margin: 5px 0 15px 0;
    padding: 0;
    font: normal normal bold 24px/28px "Visuelt Pro", sans-serif;
    letter-spacing: 1.2px;
    color: #1e3352;
    text-transform: uppercase;
    order: 0px solid pink;
}
.Order_summmary_div p:nth-child(2),
.Order_summmary_div p:nth-child(3),
.Order_summmary_div p:nth-child(4) {
    text-align: left;
    padding: 10px 0;
    font: normal normal normal 14px/14px "Visuelt Pro", sans-serif;
    color: #6d7278;
}
.Order_summmary_div p:nth-child(5) {
    font: normal normal normal 14px/14px "Visuelt Pro", sans-serif;
    color: #6d7278;
    padding: 10px 0;
    font-weight: bold;
}
.checkout_button {
    border: 2px solid transparent;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    /* height: 60px; */
    padding: 15px 20px;
    background: #17274a;
    margin: 0 0 30px 0;
    font-weight: 500;
    border: 0px solid teal;
    font-size: 1rem;
    /* font-family: "Visuelt Pro"; */
    box-sizing: border-box;
    cursor: pointer;
    overflow: visible;
    margin-top: 20px;
    transition: 0.2s ease-in-out all;
}
.checkout_button:hover {
    color: #17274a;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #17274a;
}
.Paypal_checkout {
    position: relative;
    top: 50%;
    width: 100%;
    cursor: pointer;
    display: block;
    background: #ffc439;
    color: #17274a;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 500;
    padding: 15px 20px;
    transition: 0.2s ease-in-out all;
    border-radius: 25px;
}
.Paypal_checkout:hover {
    background-color: #ffc439cc;
}

.deliveryinfo_div label {
    /* border: 2px solid; */
    padding-left: 30px;
    width: auto;
    font: normal normal normal 14px/21px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    color: #232629;
    text-transform: capitalize;
}

.deliveryinfo_div p {
    font-family: Klarna Text, "Klarna Sans", "Helvetica Neue", Arial, Helvetica,
        sans-serif;
    text-align: left;

    color: #17120f;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/* <--------------for teblet veiw------------> */
@media screen and (max-width: 768px) {
    .parent {
      padding: 20px;
        display: block;
            border: 1px dotted gray;

    }
    .Order_summmary_div {
    border: 0px solid blue;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    text-align: justify;
}
.card_div {
    border: 1px dotted black;
    width: 100%;
        margin: 20px auto;
}
.Shopping_cart_heading {

    display: flex;
    align-items: center;
    margin: 20px auto;
}
}

/* <--------------for mobile veiw------------> */
@media screen and (max-width: 400px) {
    .parent {
      padding: 20px;
        display: block;
        border: 0px solid yellow;

    }
    .Order_summmary_div {
    border: 1px dotted gray;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
}
.card_div {
    border: 1px dotted black;
    width: 100%;
    margin: 20px auto;
    padding: 20px;

}
.Shopping_cart_heading {

    display: flex;
    align-items: center;
    margin:  auto;
}
}
