.login-main {
    border: 1px solid red;
    width: 70%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    font-family: "Visuelt Pro" sans-serif;
}
.log-form {
    border: 1px solid green;
    width: 42%;
}
.hr{
    border-right: .1px solid gray;
}

.order-account {
    border: 1px solid purple;
    width:42%;
}
.order-btn{
    padding: 10px 20px;
    border: 1.5px solid #17274a;
    border-radius: 0px;
    text-transform: uppercase;
    color: #17274a;
    font-size: 14px;
    font-weight: 700;
    transition: all .5s ease-in-out;
}
.order-btn:hover{
    color: white;
    background-color: #17274a;
}