.login-main {
    border: 0px solid red;
    width: 63%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    font-family: "Visuelt Pro" sans-serif;
}
.log-form {
    border: 0px solid green;
    width: 42%;
    margin: revert;
}
.log-form > h1 {
    font-size: 28px;
    font-weight: 700;
    margin: revert;
}
.log-form > h4 {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
.log-btn {
    border: 1.5px solid #17274a;
    padding: 10px 20px;
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #17274a;
    color: white;
    width: 60%;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}
.log-btn:hover {
    background-color: white;
    color: #17274a;
}
.log-btn ~ h4 {
    font-size: 16px;
    font-weight: 400;
    color: gray;
    margin: 20px auto;
}
.policy-line {
    font-size: 12px;
    font-weight: 400;
    color: gray;
    margin-top: 35px;
}
.policy-line > a {
    text-decoration: underline;
}
.hr {
    border-right: 0.1px solid gray;
}

.order-account {
    border: 0px solid purple;
    width: 42%;
}
.order-account > h1 {
    font-size: 28px;
    font-weight: 700;
    margin: revert;
}
.order-account > h4 {
    font-size: 16px;
    font-weight: 400;
    color: gray;
}
.order-btn {
    padding: 10px 20px;
    border: 1.5px solid #17274a;
    border-radius: 0px;
    text-transform: uppercase;
    color: #17274a;
    font-size: 14px;
    margin-top: 20px;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}
.order-btn:hover {
    color: white;
    background-color: #17274a;
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .login-main {
        flex-wrap: wrap;
        flex-direction: column;
        border: 0px solid blue;
        width: 70%;
        padding: 20px;
        margin: 120px auto;
    }
    .log-form {
        width: 100%;
    }
    .order-account {
        border-top: 0.5px solid #aaadb2;
        width: 100%;
        margin-top: 40px;
    }
}
