.product-all {
    border: 0px solid gray;
    width: 80%;
    padding: 20px;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
    /* gap: 80px 0px; */
    margin: 20px auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-one {
    border: 0px solid blue;
    width: 15%;
    margin-right: 20px;
}
.product-one > div {
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.2s ease-in-out;
    margin-bottom: 80px;
}
.product-one > div:hover {
    box-shadow: 10px 10px 0px 0px rgba(23, 39, 74, 1);
    transform: scale(1.1);
    filter: grayscale(0%);
}
.cont {
    border: 5px solid yellow;
}
.product-two {
    border: 0px solid rgb(128, 0, 119);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-detail {
    border: 0px solid green;
    padding: 20px;
    /* width: 80%; */
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.product-card {
    border: 0px solid yellow;
    /* width: 95%; */
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.product-card > img {
    transition: all 0.2s ease-in-out;
}
.product-card > img:hover {
    box-shadow: 10px 10px 0px 0px rgba(23, 39, 74, 1);
}
.product-card img {
    border: 0px solid pink;
    height: 80%;
    padding: 0px;
    object-fit: cover;
}
.btn {
    border: 0px solid red;
    width: 100%;
    margin: 1px auto;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.add-cart-btn {
    background-color: white;
    /* width: 45%; */
    /* border: 1.5px solid #17274a; */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
}
.add-cart-btn:hover {
    background-color: rgba(142, 237, 199, 0.527);
}
.buy-Now {
    border: 0px solid black;
    background-color: #17274a;
    color: white;
    /* width: 100%; */
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.2s ease-in-out;
}
.buy-Now:hover {
    background-color: #fff;
    color: rgb(142, 237, 199);
}
.delivery {
    border: 0px solid #17274a;
    background-color: none;
    margin-top: 20px;
    /* height: 40px; */
    padding: 10px 15px;
    width: 40%;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.2s ease-in-out;
}
.delivery:hover {
    background-color: rgba(142, 237, 199, 0.527);
}
.size {
    border: 1px dotted gray;
    /* height: 50px; */
    padding: 20px;
    margin-top: 20px;
    display: grid;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    border-radius: 15px;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}



#heading {
    padding: 10px;
}
#btn1 {
    margin-right: 30px;
    margin-top: 5px;
    border: 0px solid red;
    background-color: blue;
}


/* <----------For Tablet screen---------> */

@media screen and (max-width: 1350px) {
    .product-all {
        display: flex;
    }

    .product-two {
        border: 0px solid rgb(128, 0, 119);
        width: 100%;
        display: flex;
        margin: auto;
    }

    .product-detail {
        border: 0px solid green;
        margin: 20px auto;
        width: 60%;
    }

    .btn {
        border: 0px solid red;
        display: flex;
        height: auto;
        width: 100%;
    }
}
/* <----------For Tablet screen---------> */
@media screen and (max-width: 768px) {
    .product-all {
        display: block;
    }
    .size {
        width: 100%;
        display: flex;
        border: 0px solid yellow;
    }
    .product-one {
        border: 0px solid blue;
        display: none;
    }
    .product-two {
        border: 0px solid rgb(128, 0, 119);
        width: 100%;
        display: block;
        margin: auto;
    }
    .product-card {
        border: 0px solid yellow;
        width: 100%;
        margin: 20px auto;
    }
    .product-card img {
        border: 0px solid rgb(255, 0, 251);
        width: 70%;
        margin: 20px auto;
    }
    .product-detail {
        border: 0px solid green;
        margin: 20px auto;
        width: 100%;
    }
    .product-detail :nth-child(5) {
        border: 0px solid rgb(128, 0, 23);
        margin: auto;
        font-size: 12px;
        width: 100%;
        height: auto;

        margin-right: 10px;
    }
    .product-detail :nth-child(7) {
        border: 0px solid rgb(128, 0, 23);
        margin: 20px auto;
        font-size: 10px;
        background-color: #17274a;
        width: 100%;
        color: white;
        height: 70px;

        margin-right: 10px;
    }
    .product-detail button {
        border: 0px solid rgb(0, 32, 128);
        margin: 20px auto;
        width: 70%;
        height: auto;
        margin-right: 20px;
    }
}

/* <----------For Mobile screen---------> */
@media screen and (max-width: 460px) {
    .product-all {
        display: block;
        border: 0px solid yellow;
        margin-top: 150px;
    }
    .product-two {
        border: 0px solid rgb(128, 0, 119);
        width: 100%;
        display: block;
        margin: auto;
    }
    .product-card {
        border: 0px solid yellow;
        width: 100%;
        margin: 20px auto;
    }
    .product-detail {
        border: 0px solid green;
        margin: 20px auto;
        width: 100%;
    }
    .product-detail :nth-child(5) {
        border: 0px solid rgb(128, 0, 23);
        margin: auto;
        font-size: 12px;
        width: 100%;
        height: 50px;

        margin-right: 10px;
    }
    .product-detail :nth-child(7) {
        border: 0px solid rgb(128, 0, 23);
        margin: 20px auto;
        font-size: 10px;
        background-color: #17274a;
        width: 100%;
        color: white;
        height: 50px;

        margin-right: 10px;
    }
    .btn {
        border: 0px solid rgb(4, 255, 0);
        display: block;
        height: auto;
        margin: auto;
        width: 100%;
    }
    .btn button {
        border: 0px solid rgb(0, 255, 208);
        padding: 10px;
        text-indent: 0cap;
        width: 100%;
    }
}
