.adminSignin {
    border: 1px solid #17274a;
    background-color: #17274a;
    color: white;
    border-radius: 8px;
    padding: 13px;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}
.adminSignin:hover {
    background-color: white;
    color: #17274a;
    border: 1px solid #17274a;
}
.adminRegister {
    border: 1px solid #17274a;
    background-color: white;
    color: #17274a;
    border-radius: 8px;
    padding: 13px;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
}
.adminRegister:hover {
    border: 1px solid #17274a;
    color: white;
    background-color: #17274a;
    border-radius: 25px;
}
