.sign-main {
    border: 0px solid red;
    width: 85%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    font-family: "Visuelt Pro";
}
.sign-left {
    border: 0px solid green;
    width: 26%;
}
.sign-strong {
    font-size: 14px;
}
.sign-p > p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.service-chart {
    margin: 20px auto;
    background-color: #fbfbfd;
    padding: 20px;
}
.service-chart > h3 {
    font-size: 12px;
    font-weight: 700;
}
.chart-one,
.chart-two {
    margin: 20px auto;
}
.chart-one > h3 {
    margin: 20px auto 0px auto;
    font-size: 12px;
    font-weight: 700;
}
.chart-two > h3 {
    font-size: 12px;
    font-weight: 700;
}
.chart-one,
.chart-two > p {
    margin: 0px auto;
    font-size: 12px;
    font-weight: 400;
}
.chart-one > h4 {
    font-size: 16px;
    font-weight: 400;
}
.chart-two > p ~ p {
    margin-top: 5px;
}

.sign-right {
    border: 0px solid green;
    display: flex;
    justify-content: space-between;
    width: 67%;
}
.sign-form {
    width: 53%;
    /* padding: 20px; */
    /* height: 110vh; */
    border: 0px solid purple;
}
.sign-form > h1 {
    font-size: 28px;
    font-weight: 500;
}
.connect-account {
    padding: 20px;
    margin-top: 23px;
    width: 40%;
}
.connect-account > h2 {
    font-size: 18px;
    margin: 20px auto;
    font-weight: 700;
    text-transform: uppercase;
}
.connect-account > p {
    font-size: 16px;
    font-weight: 100;
}
.req-check {
    font-size: 12px;
    font-weight: 400;
}
.name-tag {
    font-size: 18px;
    margin: 20px auto;
    font-weight: 700;
    text-transform: uppercase;
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .sign-main {
        flex-direction: column;
        flex-wrap: wrap;
        border: 0px solid green;
        width: 70%;
        margin: 140px auto;
        padding: 10px;
    }
    .sign-left {
        width: 100%;
    }
    .sign-right {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sign-form {
        width: 100%;
    }
    .connect-account {
        width: 100%;
        padding: 0%;
    }
}
@media all and (min-width: 768px) and (max-width: 1200px) {
    .sign-main {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .sign-left {
        width: 100%;
    }
    .sign-right {
        width: 100%;
        flex-wrap: wrap;
    }
    .sign-form {
        width: 48%;
    }
    .connect-account {
        width: 48%;
    }
}
