.cart_main_div {
    border: 2.5px solid transparent;
    border-radius: 15px;
    height: auto;
    width: 90%;
    display: flex;
    margin: 20px auto;

    padding: 20px;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.2s ease-in-out;
}
.cart_main_div:hover {
    border: 2.5px solid #17274a;
    transform: scale(0.99);
}
.cart_image_div {
    width: 25%;
    /* height: 300px; */
    border: 0px solid pink;
}

.productInfo_div {
    width: 35%;
    height: 300px;
    border: 0px solid blue;

}
#span{
    border: 0px solid green;
    margin-left: 20px;

}
#btn {
    background-color: red;
    border: 0px solid red;
}

.Quantity_div {
    width: 15%;
    height: 300px;
    border: 0px solid yellow;
}

.Price_div {
    width: 15%;
    height: 300px;
    border: 0px solid greenyellow;
}

.Order_summmary_div {
    width: 25%;
    height: 300px;
}
.subdiv_headings {
    font: normal normal bold 16px/21px "Visuelt Pro", sans-serif;
    letter-spacing: 0.8px;
    border: 0px solid violet;
    color: #1e3352;
    text-transform: uppercase;
    padding: 8px 8px 8px 0;
    background: transparent;
    margin-top: 30px;
    border-bottom: 1px solid #f7f7f7;
}
.productInfo_div p:nth-child(1) {
    font: normal normal bold 16px/21px "Visuelt Pro", sans-serif;
    letter-spacing: 0.8px;
    color: #1e3352;
    text-transform: capitalize;
    border: 0px solid teal;
    padding: 0;
    margin-bottom: 15px;
    padding: 35px 8px 8px 0px;
}
.productInfo_div p:nth-child(2),
.productInfo_div p:nth-child(3) {
    font: normal normal bold 14px/26px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    color: #6d7278;
}
.productInfo_div div {
    padding: 20px 20px 20px 0px;
    border: 0px solid blue;
}
.productInfo_div label {
    font: normal normal bold 14px/26px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    color: #6d7278;
}
.Quantity_div select {
    width: 92px;
    height: 45px;
    padding: 10px 18px;
    background: #fff;
    /* border: 1px solid #a3a3a3; */
    border: 0px solid pink;
    border-radius: 2px;
    cursor: pointer;
    color: #1a1a1a;
    font-size: 0.875rem;
}
.Quantity_div p:nth-child(3) {
    font: normal normal normal 14px/16px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    color: #1e3352;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px;
}
.Quantity_div p:nth-child(4) {
    color: #59931b;
    font: normal normal bold 14px/21px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    display: block;
    padding: 10px;
    border: 0px solid red;
}
.Price_div p:nth-child(2) {
    font: normal normal bold 14px/24px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    color: #1e3352;
    width: 100%;
    display: inline-block;
    padding-right: 0;
    text-align: left;
    border: 0px solid yellow;
}
.Price_div p:nth-child(3) {
    font: normal normal bold 14px/24px "Visuelt Pro", sans-serif;
    letter-spacing: 0.7px;
    font-weight: normal !important;
    font-size: 12px !important;
    color: #a3a3a3 !important;
    white-space: nowrap;
    line-height: normal !important;
    border: 0px solid blue;
}

.cart_remove{
    margin-top: 30px;
    font: normal normal bold 16px/21px "Visuelt Pro", sans-serif;
    letter-spacing: 0.8px;
    border: 0px solid violet;
    color: #1e3352;
    text-transform: uppercase;
    padding: 8px 8px 8px 0;
    background: transparent;
}

/* -------------for mobile screen--------------- */
@media screen and (max-width: 450px) {
    .cart_main_div {
        display:block;

        height: 600px;
        width: 100%;
    }
    .cart_image_div {
    width: 100%;
    /* height: 300px; */
    border: 0px solid pink;
    margin: auto;
}
.productInfo_div {
    width: 100%;
    height: auto;
    margin: 10px auto;
    border: 0px solid blue;

}
.Quantity_div{
    display: none;
}


.Price_div  {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
    border: 0px solid greenyellow;
}
.subdiv_headings {
    border: 0px solid rgb(252, 38, 0);
    width: 100%;
    margin: auto;
}
}

