.main-page {
    border: 0px solid red;
    padding: 20px 20px 0px 20px;
}
.main-add {
    background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwce79bcc9/images/homepage/2020/060420/060420%20DESKTOP%20PRIDE%20BANNER@2x.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-add {
    position: relative;
    width: 40%;
}

.bgc-top {
    color: #17244a;
    width: 30%;
    display: block;
    margin: auto;
}
.right-add {
    position: relative;
    width: 60%;
}
.text-1 {
    font-size: 25px;
    font-weight: 700;
    color: white;
}
.text-2 {
    font-size: 20px;
    font-weight: 500;
    color: white;
    letter-spacing: 1.1px;
}
.banner {
    border: 0px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-add {
    border: 0px solid purple;
    width: 62%;
}
.add-text-2 {
    color: #ee5e68;
    font-size: 77px;
    font-weight: 700;
}
.add-text-3 {
    color: #ee5e68;
    font-size: 46px;
    font-weight: 400;
    line-height: 1.2;
    /* te */
}
.add-text-4 {
    font-family: Visuelt Pro, sans-serif;
    font-size: 9px;
    font-weight: 500;
    color: #ee5e68;
}
.grid-cat {
    border: 0px solid rebeccapurple;
    width: 38%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}
.cat-button {
    text-align: center;
    border: 2px solid #ee5e68;
    padding: 15px 20px;
    border-radius: 4.5px;
    font-size: 18px;
    font-weight: 300;
    color: #ee5e68;
    transition: all 0.2s ease-in-out;
}
.cat-button:hover {
    background-color: #ee5e68;
    color: white;
}
.card {
    margin: 30px auto;
}

.lit-bgc-all {
    border: 1px solid #ee5e68;
    border-radius: 12px;
    background-color: #ee5e68;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lit-left {
    border: 0px solid yellow;
    width: 70%;
}
.lit-left-text-1 {
    font-size: 25px;
    font-weight: 700;
    /* line-height: 34px; */
    text-decoration: underline;
}
.lit-left-text-2 {
    font-size: 25px;
    font-weight: 100;
    /* line-height: 34px; */
}
.lit-right {
    border: 2px solid white;
    padding: 15px;
    width: 25%;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    border-radius: 7.5px;
    transition: all 0.2s ease-in-out;
}
.lit-right:hover {
    background-color: white;
    border: 2px solid #17244a;
    color: #17244a;
}
.hlf-slide {
    display: flex;
    margin: 30px auto;
    /* grid-template-columns: 1fr 1fr 2fr; */
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}
.left-girl-card {
    width: 25%;
}
.mid-text-wrap {
    background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwbd05b839/images/homepage/2020/060420/060420%20DESKTOP%20GIRLS%20SHORTS@2x.jpg);
    border-radius: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    padding: 60px 20px;
    text-align: center;
}
.mid-text-2 {
    font-family: "Visuelt Pro", Arial, sans-serif;
    color: white;
    font-size: 38px;
    font-weight: 700;
}
.mid-text-3 {
    font-size: 31px;
    font-weight: 600;
    color: white;
}

.mid-text-4 {
    font-size: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
    margin-top: 20px;
}
.btn-card {
    border: 1px solid white;
    padding: 10px 15px;
    margin: auto;
    background-color: #fff;
    border-radius: 4.5px;
    font-size: 22px;
    font-weight: 400;
    display: block;
    width: 85%;
    transition: all 0.2s ease-in-out;
}

.btn-card:hover {
    background-color: #17244a;
    color: white;
}
.end-crs {
    width: 50%;
}
.ads-all {
    border: 0px solid green;
    text-align: center;
    background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwc9e72c6c/images/homepage/2020/060420/060420%20DESKTOP%20STORE%20ASSET@2x.jpg);
    background-size: cover;
    /* object-fit: cover; */
    background-repeat: no-repeat;
    padding: 20px;
    height: 100%;
    border-radius: 25px;
    display: block;
    position: relative;
}
.ads-all-img-wrapper {
    border: 0px solid purple;
    text-align: center;
    position: relative;
    width: 5%;
    margin: auto;
}
.ads-all-text-2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
    color: white;
}
.ads-all-text-3 {
    font-size: 23px;
    font-weight: 500;
    line-height: 26px;
    color: white;
}
.ads-all-cta-wrap {
    margin: 40px auto;
    display: flex;
    width: 65%;
    justify-content: space-around;
}

.ads-all-cta-wrap > a {
    border: 2px solid white;
    padding: 10px 15px;
    margin: 0px 40px;
    color: white;
    display: block;
    width: 25%;
    border-radius: 4.5px;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}
.ads-all-cta-wrap > a:hover {
    color: #17244a;
    background-color: #fff;
}
.snd-hlf-slide {
    display: flex;
    margin: 30px auto;
    /* grid-template-columns: 1fr 1fr 2fr; */
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
}
.start-crs {
    width: 50%;
}

.snd-text-wrap {
    background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwf7488dfd/images/homepage/2020/060420/060420%20DESKTOP%20GUYS%20SHORTS@2x.jpg);
    border-radius: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    padding: 60px 20px;
    text-align: center;
}

.right-boy-card {
    width: 25%;
}
.end-jean {
    position: relative;
    font-family: "Visuelt Bold Pro", sans-serif;
}
.end-jean > img {
    max-width: 100%;
}
.end-jean-content {
    /* position: relative; */
    width: 100%;
    position: absolute;
    top: 21%;
}
.text-wrap {
    padding: 30px;
    width: 97%;
}
.end-jean-text {
    width: 40%;
    /* margin-left: 8vw; */
    text-align: center;
    left: 768px;
    position: relative;
}
.end-jean-text > img {
    width: 7vw;
    margin: 0 auto;
    margin-bottom: 1.5vw;
}
.end-jean-text > p {
    text-size-adjust: 100%;
    text-align: center;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-size: 1.5vw;
    margin: 0;
    color: #fff;
    line-height: normal;
}
.end-jean-cta-wrap {
    width: 23%;
    margin: 0 auto;
    position: relative;
    left: 24vw;
}
.end-jean-cta-wrap > a {
    font-weight: 300;
    text-align: center;
    transition: all 0.2s ease-in-out;
    align-items: center;
    border: 4px solid #17244a;
    line-height: 3;
    width: 19.8vw;
    background-color: white;
    margin: auto;
    color: #1e3352;
    padding-top: 0.7%;
    font-size: 1.4vw;
    border-width: 4px;
    margin-top: 1vw;
    display: inline-block;
}
.end-jean-cta-wrap > a:hover {
    border: solid white 4px;
    background-color: #1e3352;
    color: white;
}


/* <----------for Tab view-------------> */
@media screen and (max-width: 768px) {
    .hlf-slide {
        display: block;
        margin: 30px auto;
        border: 0px solid blue;
        /* grid-template-columns: 1fr 1fr 2fr; */
        justify-content: space-between;
        gap: 20px;
        box-sizing: border-box;
    }
    .left-girl-card {
        width: 90%;
        border: 0px solid red;
        margin: 10px auto;
    }
    .mid-text-wrap {
        background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwbd05b839/images/homepage/2020/060420/060420%20DESKTOP%20GIRLS%20SHORTS@2x.jpg);
        border-radius: 21px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        margin: 10px auto;
        border: 0px solid red;
        padding: 60px 20px;
        text-align: center;
    }

    .end-crs {
        width: 90%;
        border: 0px solid red;
        margin: 10px auto;
    }
    .snd-hlf-slide {
        display: block;
        border: 0px solid green;
        margin: 30px auto;
        /* grid-template-columns: 1fr 1fr 2fr; */
        justify-content: space-between;
        gap: 20px;
        box-sizing: border-box;
    }
    .start-crs {
        width: 90%;
        border: 0px solid blue;
        margin: 10px auto;
    }
    .snd-text-wrap {
        background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwf7488dfd/images/homepage/2020/060420/060420%20DESKTOP%20GUYS%20SHORTS@2x.jpg);
        border-radius: 21px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto;
        width: 90%;
        margin: 10px auto;
        border: 0px solid blue;

        padding: 60px 20px;
        text-align: center;
    }

    .right-boy-card {
        margin: 10px auto;
        width: 90%;
        margin: 10px auto;
        border: 0px solid blue;
    }
}

/* <----------for Mobile view-------------> */
@media screen and (max-width: 400px) {
    .main-page {
    border: 0px solid rgb(229, 255, 0);
margin-top: 7rem
}
    .hlf-slide {
        display: block;
        margin: 30px auto;
        border: 0px solid blue;
        /* grid-template-columns: 1fr 1fr 2fr; */
        justify-content: space-between;
        gap: 20px;
        box-sizing: border-box;
    }
    .left-girl-card {
        width: 90%;
        border: 0px solid red;
        margin: 10px auto;
    }
    .mid-text-wrap {
        background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwbd05b839/images/homepage/2020/060420/060420%20DESKTOP%20GIRLS%20SHORTS@2x.jpg);
        border-radius: 21px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 90%;
        margin: 10px auto;
        border: 0px solid red;
        padding: 60px 20px;
        text-align: center;
    }

    .end-crs {
        width: 90%;
        border: 0px solid red;
        margin: 10px auto;
    }
    .snd-hlf-slide {
        display: block;
        border: 0px solid green;
        margin: 30px auto;
        /* grid-template-columns: 1fr 1fr 2fr; */
        justify-content: space-between;
        gap: 20px;
        box-sizing: border-box;
    }
    .start-crs {
        width: 90%;
        border: 0px solid blue;
        margin: 10px auto;
    }
    .snd-text-wrap {
        background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwf7488dfd/images/homepage/2020/060420/060420%20DESKTOP%20GUYS%20SHORTS@2x.jpg);
        border-radius: 21px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 10px auto;
        width: 90%;
        margin: 10px auto;
        border: 0px solid blue;

        padding: 60px 20px;
        text-align: center;
    }

    .right-boy-card {
        margin: 10px auto;
        width: 90%;
        margin: 10px auto;
        border: 0px solid blue;
    }

    .ads-all {
        border: 0px solid rgb(64, 255, 0);
        text-align: center;
        background-image: url(https://www.aeropostale.com/on/demandware.static/-/Sites-aeropostale-Library/default/dwc9e72c6c/images/homepage/2020/060420/060420%20DESKTOP%20STORE%20ASSET@2x.jpg);
        background-size: cover;
        /* object-fit: cover; */
        background-repeat: no-repeat;
        padding: 20px;
        height: 100%;

        display: block;
        position: relative;
    }

    .ads-all-img-wrapper {
        border: 0px solid rgb(0, 13, 128);
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .ads-all-img-wrapper img {
        border: 0px solid rgb(0, 13, 128);
        align-items: center;
        padding: 10px;
        width: 80%;
        margin: auto;
    }

    .ads-all-text-2 {
        font-size: 30px;
        border: 0px solid blue;
        font-weight: 700;
        line-height: 60px;
        color: white;
    }
    .ads-all-text-3 {
        font-size: 23px;
        font-weight: 500;
        line-height: 26px;
        color: white;
        border: 0px solid blue;
    }
    .ads-all-cta-wrap {
        margin: 10px auto;
        display: block;
        border: 0px solid yellow;
        width: 100%;
        justify-content: space-around;
    }
    .ads-all-cta-wrap a {
        margin: 10px auto;
        display: block;
        border: 0px solid yellow;
        width: 100%;
        justify-content: space-around;
    }
    .banner {
        border: 0px solid green;
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    .text-add {
        border: 0px solid yellow;
        width: 90%;
        margin: 10px auto;
        font-size: 40px;
        text-align: center;
        word-spacing: normal;
        padding: 20px;
    }
    .grid-cat {
        border: 0px solid rebeccapurple;
        width: 90%;
        display: grid;
        margin: 10px auto;
        gap: 20px;
        padding: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .add-text-2 {
        color: #ee5e68;
            /* border: 2px solid rgb(153, 51, 97); */
        font-size: 77px;
        font-weight: 700;
    }
    .add-text-3 {
        color: #ee5e68;
            /* border: 2px solid rebeccapurple; */
        font-size: 46px;
        font-weight: 400;
        line-height: 1.2;
        /* te */
    }
    .add-text-4 {
        font-family: Visuelt Pro, sans-serif;
        font-size: 9px;
        font-weight: 500;
        color: #ee5e68;
    }

    .cat-button {
        text-align: center;
        border: 1px solid gray;
        background-color: lightseagreen;
        padding: 15px 20px;
        border-radius: 4.5px;
        font-size: 18px;
        font-weight: 300;

        color: white;
        transition: all 0.2s ease-in-out;
    }
    .main-add {
        display: none;
    }

    .lit-bgc-all {
        border: 0px solid #5eee8c;
        border-radius: 12px;
        background-color: #ee5e68;
        padding: 20px;
        color: white;
        display: block;
    }
    .lit-left {
        border: 0px solid yellow;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
    }
    .lit-left-text-1 {
        font-size: 25px;
        font-weight: 700;
        /* line-height: 34px; */
        text-decoration: underline;
    }
    .lit-left-text-2 {
        font-size: 25px;
        font-weight: 100;
        /* line-height: 34px; */
    }
    .lit-right {
        border: 0px solid rgb(255, 255, 255);
        padding: 15px;
        width: 95%;
        margin: 10px auto;
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        border-radius: 7.5px;
        transition: all 0.2s ease-in-out;
    }
    .lit-right:hover {
        background-color: white;
        border: 0px solid #17244a;
        color: #17244a;
    }
}
