.Women_Title_div {
    height: 80px;
    /* width: 15%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 4rem; */
}
.Navbar2_mainalignment_div {
    margin: auto;
    /* margin-top: 7rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    border: 0px solid cyan;
}
.Women_Title_div p {
    margin: 0 2rem 0 0;
    padding-bottom: 0;
    font-family: "Visuelt Pro", sans-serif;
    font-size: 1.75rem;
    font-weight: normal;
    line-height: 2.25rem;
    color: #1d3451;
}
#form_wrapper {
    border: 0px solid black;
    width: 40%;
}
#form {
    border: 0px solid blue;
    display: flex;
    justify-content: space-around;
    width: 60%;
}
#input {
    border: 1px solid gray;
    width: 150%;
    height: 50px;
    text-align: center;
    border-radius: 25px;
}
#btn {
    border: 0px solid blue;
    border-radius: 20px 20px;
    width: 100px;
    background-color: #1d3451;
    color: white;
    margin-right: 30px;
}
.product_sidebar_main_div {
    /* height: 800px; */
    display: flex;
    border: 0px solid yellow;
}
#sidebar {
    border: 0px solid yellow;
}
.sidebar_div {
    width: 20%;
    /* height: 800px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}
.product_div {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sidebar_subdiv1_div {
    border-radius: 15px;
    padding: 20px;

    /* height: 200px; */
    /* border: 1px solid gray; */
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sidebar_subdiv1_div p {
    font-size: 20px;
    line-height: 0.9375rem;
    color: black;
    padding-left: 10px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.Loderimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 1280px) and (min-width: 768px) {
    .product_div {
        grid-template-columns: repeat(2, 1fr);
    }
    .Navbar2_mainalignment_div {
        width: 60%;
        margin: auto;
    }
    .sidebar_div {
        width: 40%;
    }
    #form {
        border: 0px solid blue;
        display: flex;
        padding: 0px 0px 0px 20px;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        gap: 70px;
    }
    #form_wrapper {
        border: 0px solid black;
        width: 55%;
    }
    #btn {
        border: 0px solid blue;

        width: 40%;
        background-color: #1d3451;
        color: white;
    }
}

@media all and (max-width: 767px) and (min-width: 300px) {
    .product_div {
        grid-template-columns: repeat(1, 1fr);
    }
    .Navbar2_mainalignment_div {
        width: 50%;
        margin: auto;
    }
    .sidebar_div {
        width: 50%;
    }
    .Navbar2_mainalignment_div {
        border: 0px solid blue;
    }
    #sidebar {
        border: 0px solid yellow;
        display: block;

        width: 90%;
        margin: 50px auto;
    }
        #sidebar:nth-child(4) {
        border: 0px solid rgb(0, 255, 123);



    }

}
